.information{
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}
.infoLocationTitle{
    font-size: 37px;
    margin-bottom: -35px;

}
.infoLocationCity{
    font-size: 16px;
    padding-bottom: 2px;

}

.host-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
;

    }

.host-name {
    padding: 0;
}

.host-img {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
}
@media (max-width: 767px) {
.infoLocationTitle {
    font-size: 22px;
    font-weight: normal;

}
.infoLocationCity{
    font-size: 16px;
    font-weight: lighter;

}
}