.information{
    display: flex;
    flex-direction: column;
 
    width: 80%;

}
.infoLocationTitle{
    font-size: 37px;
    margin-bottom: -35px;

}
.infoLocationCity{
    font-size: 16px;
    padding-bottom: 2px;

}


.host-name {
    padding: 0;
}

.host-img {
    border-radius: 50%;
    object-fit: cover;
    width: 60px;
}