.InfoLocationTags{
    display: flex;
    column-gap: 15px;

}

.InfoLocationTags p {
    margin: 0;
    background-color:#ff6060;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 22px 3px 22px;
}
/*MOBILE*/
@media (max-width: 480px) {
    .InfoLocationTags p{
        font-size: 10px;
    }

}