body {
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    color: #ff6060;
  }
  
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-fluid {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  
  a {
    color: #ff6060;
    text-decoration: none;
    padding-right: 4.3rem;
  }
  
  a:hover {
    color: #ff6060;
  }
  
 
  
  p {
    font-family: 'Montserrat', sans-serif;
  }
  
