.card {
    position: relative;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    filter: brightness(85%);

}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: inset 0 -45px 25px -33px #000000;
}

.text-left{
    margin: 0;
    color: white;
    width: 70%;
}