.navbar-wrapper {
  display: flex;
  column-gap: 40px;
}

.navbar-wrapper li {
  list-style: none;
}

.nav-item {
  padding: 0;
}

.nav-item.active {
  color: #ff6060;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
