
.collapse {
  width: 100%;
}

.collapse-button {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  background: #ff6060;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
}

.collapse-content-array {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.collapse-content-array p {
  margin: 0;
}

.collapse-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: gainsboro;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.collapse-content.active-content {
  margin: 0;
  padding: 10px;
  max-height: 500px;
  transition: max-height 1s ease;
}
  
.arrow-up {
  width: 40px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
  
.arrow-up.active {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}
