/***********CSS Fiche**********
button {
    width: 100px;
  }
  
  .app-wrapper {
    padding: 0 5%;
  }
  
  .arrow-up {
    width: 40px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }
  
  .arrow-up.active {
   transform: rotate(180deg);
   transition: 0.5s ease-in-out;
  }
  
  
  @media (max-width: 912px) {
    .app-wrapper {
      padding: 0 2%;
    }
  }*/
  