.fiche-tags-stars {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 40px;
    align-items: end;
}

.fiche-collapse {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.app-content {
    padding: 0 5%;
}
.fiche-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.infoHost{
    display: flex;
    width: 80%;
    flex-direction: column;
}

@media (max-width: 912px) {
    .app-content {
      padding: 0 2%;
    }
}
/*MOBILE*/
@media (max-width: 480px) {
    .fiche-tags-stars {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;

    }
    .InfoLocationTags{
      display: flex;
      justify-content: baseline;
      align-items: center;
       
    }
  }