.banner {
  position: relative;
  overflow: hidden;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  height: 195px;     
}

.banner-img {
  width: 100%;
  position: absolute;
  object-fit: cover;
  filter: brightness(50%);
}

.banner p{
  color: white;
  z-index: 2;
  font-size: 30px;
}

@media (max-width: 912px) {
  .banner p{
    font-size: 20px;
  }
}