.error-page{
    display: flex;
    border: firebrick;
    flex-direction: column;
    align-items: center;

}
.error{
        font-size: 150px;
        font-weight: 400px;
     
    }
.message-error{
        font-size: 18px;
     
        text-align: center;
    }
a{
    font-size: 14px;
    cursor: pointer;
    display: contents;
    }
